@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);

    --breakpoint-3xl: 120rem;
    /* 1920px / 16 */
    --breakpoint-4xl: 160rem;
    /* 2560px / 16 */
    --breakpoint-5xl: 240rem;
    /* 3840px / 16 */
}

@layer components {
    /* Border */

    .menu-theme-item {
        display: flex;
        align-items: center;
        gap: .75rem;

        width: 100%;
        padding: .65rem .85rem;

        border-radius: .75rem;

        color: var(--contrast-main-text);
        text-decoration: none;

        transition:
            background-color .18s ease,
            color .18s ease,
            transform .12s ease;
    }

    .menu-theme-item:hover {
        background: color-mix(in srgb, var(--focus-color) 32%, transparent);
        /* color: var(--focus-color); */
    }

    .menu-theme-item:hover .menu-theme-icon,
    .menu-theme-item:hover .menu-theme-label {
        color: inherit;
    }

    .menu-theme-item:focus-visible {
        outline: none;
        background: color-mix(in srgb, var(--focus-color) 12%, transparent);
        color: var(--focus-color);
    }

    .menu-theme-item:active {
        background: color-mix(in srgb, var(--focus-color) 48%, transparent);
        transform: scale(.985);
    }

    .menu-theme-item:active .menu-theme-icon,
    .menu-theme-item:active .menu-theme-label {
        color: inherit;
    }

    .menu-theme-item.active {
        background: color-mix(in srgb, var(--focus-color) 20%, transparent);
        color: var(--focus-color);
        font-weight: 600;
    }

    .menu-theme-item.active .menu-theme-icon {
        color: var(--focus-color);
    }

    .menu-theme-icon {
        flex-shrink: 0;
    }

    .menu-theme-label {
        font-size: .875rem;
        font-weight: 500;
    }

    .settings-link {
        display: flex;
        align-items: center;
        gap: .75rem;

        width: 100%;
        padding: .4rem .9rem;

        border-radius: .75rem;

        color: var(--contrast-main-text);
        text-decoration: none;

        transition:
            background-color .18s ease,
            color .18s ease,
            transform .12s ease;
    }

    .settings-link:hover {
        color: var(--focus-color);
        background: color-mix(in srgb, var(--focus-color) 10%, transparent);
    }

    .settings-link:focus-visible {
        outline: none;
        color: var(--focus-color);
        background: color-mix(in srgb, var(--focus-color) 12%, transparent);
    }

    .settings-link:active {
        color: var(--main-text);
        background: var(--focus-color);
        transform: scale(.985);
    }

    .settings-link-active {
        color: var(--focus-color);
        font-weight: 600;
        background: color-mix(in srgb, var(--focus-color) 15%, transparent);
    }

    .settings-link-active:hover {
        background: color-mix(in srgb, var(--focus-color) 20%, transparent);
    }

    .form-container {
        @apply py-6 mt-4 space-y-4 rounded-lg transition-colors duration-300;
        @apply border-y-4 max-sm:border-[var(--focus-color)] border-[var(--border-table-color)];
        @apply px-2 sm:px-4 sm:bg-[var(--main-table-color)] sm:shadow-sm sm:border;
    }
    .form-container-excel {
        @apply py-6 mt-4 space-y-4 rounded-lg transition-colors duration-300;
        @apply border-y-4 max-sm:border-[var(--focus-color)] border-[var(--border-table-color)];
        @apply px-0 sm:px-4 sm:bg-[var(--main-table-color)] sm:shadow-sm sm:border;
    }
    .form-message {
        @apply text-xs sm:text-sm py-4 rounded-xl backdrop-blur-sm transition-colors duration-300;
        @apply sm:px-4 sm:bg-[var(--second-table-trans)] border-[var(--border-wadah-color)] sm:border sm:shadow-sm;
    }

    .form-message-container {
        @apply border-[var(--border-table-color)];
        @apply p-4 mt-4 gap-4 rounded-lg shadow-sm border-t transition-colors duration-300;
        @apply bg-[var(--second-table-trans)] sm:bg-[var(--sub-table-color)];
    }

    .table-border {
        @apply border-[var(--border-table-color)];
    }

    .table-border-x {
        @apply border-x border-[var(--border-table-color)];
    }

    .table-border-r {
        @apply border-r border-[var(--border-table-color)];
    }

    .table-border-l {
        @apply border-l border-[var(--border-table-color)];
    }

    /* Header Utama */
    .table-head {
        @apply px-6 py-4 text-xs sm:text-sm uppercase;
        @apply border-[var(--border-table-color)];
        @apply bg-[var(--main-table-color)];
        @apply text-[var(--contrast-main-text)];
    }

    /* Isi Utama */
    .table-main {
        @apply px-6 py-4 text-xs sm:text-sm;
        @apply border-x border-[var(--border-table-color)];
        @apply bg-[var(--main-table-trans)];
        @apply text-[var(--contrast-main-text)];
    }

    .table-main-sticky {
        @apply px-6 py-4 text-xs sm:text-sm;
        @apply border-x border-[var(--border-table-color)];
        @apply bg-[var(--main-table-color)];
        @apply text-[var(--contrast-main-text)];
        @apply lg:sticky lg:left-0 lg:z-20;
    }

    /* Isi Sekunder */
    .table-second {
        @apply px-6 py-4 text-xs sm:text-sm;
        @apply bg-[var(--second-table-trans)];
        @apply text-[var(--contrast-second-text)];
    }

    .table-second-sticky {
        @apply px-6 py-4 text-xs sm:text-sm;
        @apply bg-[var(--second-table-color)];
        @apply text-[var(--contrast-second-text)];
        @apply lg:sticky lg:left-0 lg:z-20;
    }

    /* Header Sub Kolom */
    .table-head-sub {
        @apply px-6 py-4 text-xs sm:text-sm;
        @apply text-center font-bold uppercase whitespace-nowrap;
        @apply border-x border-b border-[var(--border-table-color)];
        @apply bg-[var(--main-table-color)];
        @apply text-[var(--focus-color)];
    }

    /* Isi Sub Kolom */
    .table-sub {
        @apply px-6 py-4 text-xs sm:text-sm;
        @apply border-[var(--border-table-color)];
        @apply bg-[var(--sub-table-trans)];
        @apply text-[var(--contrast-second-text)];
    }

    .table-number {
        @apply text-center whitespace-nowrap;
    }

    .table-code {
        @apply font-mono whitespace-nowrap;
    }

    .table-text {
        @apply text-left;
    }

    .modal-flux {
        @apply w-full border text-xs sm:text-sm border-0;
    }
    .modal-flux-main {
        @apply flex flex-col max-h-[96vh] relative overflow-y-auto p-4 sm:p-6 md:p-8 text-[var(--contrast-main-text)];
    }
    .modal-flux-header {
        @apply px-4 sm:px-6 py-6 border-b border-[var(--contrast-second-text)];
    }
    .modal-flux-body {
        @apply flex-1 px-4 sm:px-6 py-6;
    }
    /* .dropdown-menu {
        left: 0;
        right: auto;
    }

    .dropdown-menu.align-right {
        left: auto;
        right: 0;
    } */
}

@layer utilities {

    thead.sticky th {
        border-bottom: none !important;
        background-color: var(--main-table-color) !important;
        box-shadow: inset 0 -1px 0 var(--border-table-color) !important;
    }

    /* @keyframes refresh-spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(720deg);
        }
    }

    .refresh-spin {
        animation: refresh-spin 0.9s cubic-bezier(0.4, 0, 0.2, 1) 1;
    } */

    /* .table-main-sticky {
        border-left: none !important;
        border-right: none !important;
        background-color: var(--main-table-color) !important;
        box-shadow: inset -1px 0 0 var(--border-table-color),
                    inset 0 -1px 0 var(--border-table-color) !important;
    }
     */
    .btn-card-focus-state {
        @apply transition-all duration-200;

        &:hover,
        &:active {
            @apply z-10 bg-[var(--focus-color)] text-[var(--main-text)];
        }
    }

    .btn-card-focus-state-special {
        @apply transition-all duration-200;

        &:hover,
        &:active {
            @apply z-10 bg-[var(--focus-color-special)] text-[var(--main-text-special)];
        }
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .scrollbar-tiny::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    .scrollbar-medium::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    .scrollbar-large::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    .scrollbar-x-large::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }

    .scrollbar-tiny::-webkit-scrollbar-track,
    .scrollbar-medium::-webkit-scrollbar-track,
    .scrollbar-large::-webkit-scrollbar-track,
    .scrollbar-x-large::-webkit-scrollbar-track {
        background: transparent;
    }

    .scrollbar-tiny::-webkit-scrollbar-thumb,
    .scrollbar-medium::-webkit-scrollbar-thumb,
    .scrollbar-large::-webkit-scrollbar-thumb,
    .scrollbar-x-large::-webkit-scrollbar-thumb {
        background-color: color-mix(in srgb, var(--focus-color), transparent 40%);
        border-radius: 20px;
    }

    .scrollbar-tiny::-webkit-scrollbar-thumb:hover,
    .scrollbar-medium::-webkit-scrollbar-thumb:hover,
    .scrollbar-large::-webkit-scrollbar-thumb:hover,
    .scrollbar-x-large::-webkit-scrollbar-thumb:hover {
        background-color: color-mix(in srgb, var(--hover-focus-color), transparent 20%);
    }

    .theme-slider {
        appearance: none;
        width: 100%;
        height: 6px;
        border-radius: 5px;
        outline: none;
        cursor: pointer;
    }

    .theme-slider::-webkit-slider-thumb {
        appearance: none;
        width: 16px;
        height: 16px;
        background: white;
        border: 2px solid var(--main-color);
        border-radius: 50%;
        cursor: pointer;
    }

    .theme-slider::-webkit-slider-thumb {
        appearance: none;
        width: 16px;
        height: 16px;
        background: white;
        border: 2px solid var(--main-color);
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
        transition: transform 0.1s ease;
    }

    .theme-slider::-webkit-slider-thumb:hover {
        transform: scale(1.2);
    }

    .theme-slider::-moz-range-thumb {
        width: 16px;
        height: 16px;
        background: white;
        border: 2px solid var(--main-color);
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    }

    /* ui-toast,
    ui-toast-group,
    [data-flux-toast-dialog],
    ui-toast * {
        position: fixed !important;
        z-index: 9999999 !important;
        pointer-events: auto !important;
    }

    ui-toast,
    ui-toast-group {
        right: 1rem;
        top: 1rem;
        left: auto;
        bottom: auto;
        max-width: calc(50vw - 2rem);
    }

    ui-toast {
        width: auto;
        max-width: 24rem;
    }

    [data-flux-modal] > dialog {
        z-index: 1000 !important;
    }

    [data-flux-modal] > dialog::backdrop {
        z-index: 0 !important;
        pointer-events: none !important;
    } */
}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */